USE [master]
GO
/****** Object:  Database [dbPeopleApp]    Script Date: 1/11/2022 6:54:38 p. m. ******/
CREATE DATABASE [dbPeopleApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPeopleApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPeopleApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPeopleApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbPeopleApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPeopleApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPeopleApp]
GO
/****** Object:  Table [dbo].[tblContactos]    Script Date: 1/11/2022 6:54:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[apellido] [varchar](255) NULL,
	[dob] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[genero] [varchar](255) NULL,
	[estadoCivil] [varchar](255) NULL,
	[celular] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[correo] [varchar](255) NULL,
	[image] [image] NULL,
 CONSTRAINT [PK__tblConta__3213E83FB84EC4B1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblContactos] ON 

SET IDENTITY_INSERT [dbo].[tblContactos] OFF
GO
USE [master]
GO
